.done {
  text-decoration: line-through;
}

.undone{
  text-decoration: none;
}

body{
  background-color: #E2E2E2;
}

h1, #first,#userinput{
  text-align: center;
}

.center {
  padding: 10px 0;
  text-align: center;
}

#userinput{
width: 50%;
}

input{
  width: 10%;
}

ul{
  list-style-type: none;
}

.highlight {
  background-color: #000000;
}

.removeHighlight{
  background-color: #E2E2E2;
}
body{
  color: black;
}

/*.listDiv{
  text-align: center;
}*/

#userinput{
/*position: relative;*/
width: 819px;
height: 32px;
left: 379px;
top: 144px;
border-radius: 8px;
}

#enter{
/*position: absolute;*/
width: 37px;
height: 32px;
left: 1050px;
top: 146px;

background: #C8D7BD;
border-radius: 8px;
}

#highlight{
/*position: static;*/
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 150px;

background: #C8D7BD;
border-radius: 8px;
}

#highlight:hover{
  background-color: #84a385;
  border-radius: 8px;
}

#shuffle{
/*position: static;*/
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 196px;

background: #C8D7BD;
border-radius: 8px;
}

#shuffle:hover{
  background-color: #84a385;
  border-radius: 8px;
}

.Delete{
width: 30px;
height: 30px;
left: 10px;
top: 10px;

background: #C8D7BD;
border: 2px solid #C8D7BD;
box-sizing: border-box;
border-radius: 8px;
margin-right: 10px;

}

.input{
  margin-left: 10px;

}

#save{
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 150px;

background: #C8D7BD;
border-radius: 8px;

}

#save:hover{
  background-color: #84a385;
  border-radius: 8px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.btn{
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 196px;

background: #C8D7BD;
border-radius: 8px;
}

#dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 185px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  color: black;
  background-color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover #dropdown-content {display: block;}

.dropdown:hover .btn {
  background-color: #84a385;
  border-radius: 8px;
}


#dropdown-delete{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 185px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-delete a {
  color: black;
  padding: 12px 16px;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
}

#dropdown-delete a:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.dropdown:hover #dropdown-delete {display: block;}

.listDiv{
  align-content: center;
  justify-content: center;
  display: flex;
}


