.done {
  text-decoration: line-through;
}

.undone{
  text-decoration: none;
}

body{
  background-color: #E2E2E2;
}

h1, #first,#userinput{
  text-align: center;
}

.center {
  padding: 10px 0;
  text-align: center;
}

#userinput{
width: 50%;
}

input{
  width: 10%;
}

ul{
  list-style-type: none;
}

.highlight {
  background-color: #000000;
}

.removeHighlight{
  background-color: #E2E2E2;
}
body{
  color: black;
}

.listDiv{
  text-align: center;
}

#userinput{
/*position: relative;*/
width: 819px;
height: 32px;
left: 379px;
top: 144px;
border-radius: 8px;
}

#enter{
/*position: absolute;*/
width: 37px;
height: 32px;
left: 1050px;
top: 146px;

background: #C8D7BD;
border-radius: 8px;
}

#highlight{
/*position: static;*/
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 150px;

background: #C8D7BD;
border-radius: 8px;
}

#shuffle{
/*position: static;*/
margin-top: 10px;
width: 185px;
height: 26px;
left: 1100px;
top: 196px;

background: #C8D7BD;
border-radius: 8px;
}

.Delete{
position:;
width: 30px;
height: 30px;
left: 10px;
top: 10px;

background: #C8D7BD;
border: 2px solid #C8D7BD;
box-sizing: border-box;
border-radius: 8px;
margin-right: 10px;

}

.input{
  margin-left: 10px;

}

.dropdown{
  position: relative;
  display: inline-block;
}

.btn{
   background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover #dropdown-content {display: block;}

.dropdown:hover .btn {background-color: #3e8e41;}


